<div class="contentwrapper"><!--Content wrapper-->
     <div class="heading">

        <h3>Em Jogo</h3>                    

        <div class="resBtnSearch">
            <a href="#"><span class="icon16 icomoon-icon-search-3"></span></a>
        </div>

        <!-- End search -->
        
        <ul class="breadcrumb">
            <li>Você está:</li>
            <li>
                <a href="#" class="tip" oldtitle="back to dashboard" title="" data-hasqtip="true">
                    <span class="icon16  icomoon-icon-home"></span>
                </a> 
                <span class="divider">
                    <span class="icon16 icomoon-icon-arrow-right-3"></span>
                </span>
            </li>
            <li class="active">Casa 0Km <% if(user.transportation == 0) { %> a pé <% }else if(user.transportation > 0){ %> de carro <% } %></li>
        </ul>

    </div>          
    <!-- Build page from here: -->
    <div class="row">
         
        <%- partial('partials/objetivo') %>

        <div class="col-lg-4">

        <div class="panel panel-default">

                <div class="panel-heading">
                    <h4>
                        <span class="icon16   icomoon-icon-bubble-4"></span>
                        <span>Dicas</span>
                    </h4>
                    <a href="widgets.html#" class="minimize" style="display: none;">Minimize</a>
                </div>
                <div class="panel-body">
                   <p>- Comece roubando pequenos comércios  sem sistema de segurança como padaria, bancas e docerias. </p>
                
                   <div style="margin-bottom: 20px;">
                      <ul id="myTab" class="nav nav-tabs pattern">
                          <li class="active"><a href="#home" data-toggle="tab">Dados</a></li>
                          <li class=""><a href="#assalt" data-toggle="tab">Últimos Assaltos</a></li>
                          <li class=""><a href="#profile" data-toggle="tab">Meus bancos</a></li>
                          <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lojas <b class="caret"></b></a>
                              <ul class="dropdown-menu">
                                  <li><a href="#storeweapons" data-toggle="tab">Armas</a></li>
                                  <li><a href="#dropdown2" data-toggle="tab">Equipamentos</a></li>
                               </ul>
                          </li>
                      </ul>

                      <div class="tab-content">
                          <div class="tab-pane fade active in" id="home">
                              
                           <div class="row">
                              <label class="col-lg-6 control-label" for="normalInput"><i class="icon8 icomoon-icon-coin green"></i>Meu dinheiro </label>
                              
                              <div class="col-lg-6">
                                <h2 class="green">$<%- user.money %></h2>
                              </div>
                          </div>

                          <div class="row">
                              <label class="col-lg-6 control-label" for="normalInput"><i class="icon8 icomoon-icon-office gray"></i>Banco depositado</label>
                              
                              <div class="col-lg-6">
                                <h3 class="">Maios Bank</h3>
                                <span class="help-block blue">Dono(a) User87544</span>
                              </div>
                          </div>

                          <div class="row">
                              <label class="col-lg-6 control-label" for="normalInput"><i class="icon8  icomoon-icon-tag-5 red"></i>Tarifa bancária</label>
                              
                              <div class="col-lg-6">
                                <h4 class="red">$1/roubo</h4>
                                
                              </div>
                          </div>

                          <div class="tabbable">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#tab4" data-toggle="tab">Armas</a></li>
                                        <li class=""><a href="#tab5" data-toggle="tab">Equipamentos</a></li>
                                        <li class=""><a href="#tab6" data-toggle="tab">Tab 3</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab4">
                                            <p>
                                                <select name="my_weapon" id="my_weapon" class="nostyle form-control" placeholder="Veja" >
                                                  <option ></option>

                                                  <% _.each(myweapons,function(v,k) {  %>
                                                    <option value=""><%- k %> > Qtd: <%- v.length %></option>
                                                  <% }) %> 
                                                </select>
                                               
                                            </p>
                                        </div>
                                        <div class="tab-pane" id="tab5">
                                            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid,lomo retro fanny pack lo-fi farm-to-table readymade. </p>
                                        </div>
                                        <div class="tab-pane" id="tab6">
                                            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. </p>
                                        </div>
                                    </div>
                                </div>

                          
                             
                          </div>
                          <div class="tab-pane fade" id="assalt">
                              <p>
                                <table class="table">
                                <thead>
                                  <tr>
                                    <th>Local</th>
                                    <th>Transporte</th>
                                    <th>Valor roubado</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% _.each(travels,function(travel) {  %>
                                    <tr>
                                      <td><%- travel.place_name %></td>
                                      <td><%- travel.vehicle_name %></td>
                                      <td>$<%- travel.value_assalt %></td>
                                    </tr>
                                  <% }) %> 
                                </tbody>
                            </table>


                              </p>
                          </div>
                          <div class="tab-pane fade" id="storeweapons">

                            <div class="page-header">
                                <h4>Compre armas</h4>
                            </div>
                            <form class="form-horizontal" action="/dashboard/buy_weapon" method="post" id="form-store-weapons-validate">
                                
                                <% if(tembanco) { %>
                                 <div class="form-group">
                                    <label class="col-lg-4 control-label" for="normalInput"></label>
                                    <div class="col-lg-8">
                                        <select name="sel_what_weapon" id="sel_what_weapon" class="nostyle form-control" placeholder="Para min ou Banco?" >
                                         <option ></option>
                                         <option value="1">Para min</option>
                                         <option value="2">Para a segurança do banco</option>
                                        </select>
                                    </div>

                                </div>
                                <% } %>

                                
                                <div class="form-group">
                                    <label class="col-lg-4 control-label" for="normalInput" id="label_sel_weapon"></label>
                                    <div class="col-lg-8">
                                        <select name="sel_weapon" id="sel_weapon" class="nostyle form-control" placeholder="Selecione" >
                                          <option ></option>
                                          <% _.each(weapons,function(weapon) { if(user.money >= weapon.price) { %>
                                            <option value="<%- weapon.id %>" price="<%- weapon.price %>" ><%- weapon.name %> > $<%- weapon.price %></option>
                                          <% } }) %>
                                        </select>
                                    </div>

                                </div>

                                <div class="form-group">
                                  <label class="col-lg-4 control-label" for="normalInput"><i class="icon8  icomoon-icon-tag-5 red"></i>Preço</label>
                                  <div class="col-lg-8">
                                    <h4 class="red" id="price_weapon">$ 0</h4>
                                  </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-4 control-label" for="normalInput"><i class="icon8 icomoon-icon-coin green"></i>Dinheiro</label>
                                    
                                    <div class="col-lg-8">
                                      <h3 class="green">$<%- user.money %></h3>
                                    </div>
                                </div>

                                <div class="form-group">
                                  <div class="col-lg-offset-4 col-lg-8">
                                      <button type="submit" class="btn btn-info">Comprar</button>
                                  </div>
                              </div>
                              <input type="hidden" id="h_weapon_price"  name="h_weapon_price" value="">
                              <input type="hidden" name="_csrf" value="<%= _csrf %>">
                              </form>
                          </div>
                          <div class="tab-pane fade" id="dropdown2">
                              <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master.</p>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
         </div>

        <div class="col-lg-4">

           <div class="panel panel-default">

                <div class="panel-heading">
                    <h4>
                        <span class="icon16  entypo-icon-center"></span>
                        <span>Alvo</span>
                    </h4>

                </div>
                <div class="panel-body">
                  <form class="form-horizontal" action="/dashboard/travel" method="post">

                     
                      <div class="form-group">
                          
                          <label class="col-lg-4 control-label" for="normalInput">Local do roubo</label>
                          <div class="col-lg-8">
                              <select name="sel_place" id="sel_place" class="nostyle form-control" placeholder="Selecione" >
                                <option ></option>
                                <% _.each(places,function(place) { %>
                                  <option value="<%- place.id %>" distance="<%- place.distance %>"><%- place.name %> > <%- place.distance %>m</option>
                                <% }) %>
                              </select>
                          </div>

                      </div>

                      <div class="form-group">
                          <label class="col-lg-4 control-label" for="normalInput">Transporte</label>
                          
                          <div class="col-lg-8">
                            <select name="sel_vehicle" id="sel_vehicle" class="nostyle form-control" placeholder="Selecione" >
                              <% _.each(vehicles,function(vehicle) { if(user.money >= vehicle.vlalu) { %>
                                <option value="<%- vehicle.id %>" mkmperhour="<%- vehicle.mkmperhour %>" vlalu="<%- vehicle.vlalu %>" <% if(user.transportation == vehicle.ref) { %> selected  <% } %>><%- vehicle.name %> > <%- vehicle.mkmperhour %>km/h > $<%- vehicle.vlalu %> </option>
                              <% } }) %>  
                            </select>
                          </div>
                      </div>
                      <div class="form-group">
                              <label class="col-lg-4 control-label" for="normalInput"><i class="icon8  icomoon-icon-tag-5 red"></i>Tarifa</label>
                              
                              <div class="col-lg-8">
                                <h4 class="red" id="tarifa_alu">$ 0</h4>
                                
                              </div>
                          </div>
                      <div id="tempo_estimado" class="form-group hide">
                          <label class="col-lg-4 control-label" for="normalInput">Tempo estimado para chegar ao local</label>
                          <div class="col-lg-8">
                            <div class="reminder">
                            
                            <ul>
                                <li class="clearfix">
                                    <div class="icon">
                                        <span class="icon32 icomoon-icon-busy gray"></span>
                                    </div>
                                    <span class="number" id="minute_total">2:10</span> 
                                    <span class="txt">Minutos</span>
                                    <button type="submit" class="btn btn-warning"><i class="icon16 icomoon-icon-gun white"></i>Assaltar</button>
                                </li>
                                                  
                            </ul>
                        </div>
                          </div>
                      </div>
                      <input type="hidden" id="h_tarifa_alu"  name="h_tarifa_alu" value="">
                      <input type="hidden" id="h_place_distance"  name="h_place_distance" value="">
                      <input type="hidden" id="h_mkmperhour"  name="h_mkmperhour" value="">
                      <input type="hidden" name="_csrf" value="<%= _csrf %>">

                  </form>      
                </div>

            </div>

        </div>

        <!-- End .span4 -->

    </div><!-- End .row -->

    
</div>
<script type="text/javascript" src="/linker/js/jquery.placeholder.min.js"></script>