<div class="contentwrapper"><!--Content wrapper-->
     <div class="heading">

        <h3>Protega seu dinheiro</h3>                    

        <div class="resBtnSearch">
            <a href="#"><span class="icon16 icomoon-icon-search-3"></span></a>
        </div>

        <!-- End search -->
        
        <ul class="breadcrumb">
            <li>Você está:</li>
            <li>
                <a href="#" class="tip" oldtitle="back to dashboard" title="" data-hasqtip="true">
                    <span class="icon16  icomoon-icon-home"></span>
                </a> 
                <span class="divider">
                    <span class="icon16 icomoon-icon-arrow-right-3"></span>
                </span>
            </li>
            <li class="active">Em algum banco</li>
        </ul>

    </div>          
    <!-- Build page from here: -->
    <div class="row">
         
        <%- partial('partials/objetivo') %>

        <div class="col-lg-8">

        <div class="panel panel-default">

                <div class="panel-heading">
                    <h4>
                        <span class="icon16   icomoon-icon-bubble-4"></span>
                        <span>Abertura de conta</span>
                    </h4>
                    <a href="widgets.html#" class="minimize" style="display: none;">Minimize</a>
                </div>
                <div class="panel-body">
                     <form class="form-horizontal" action="/dashboard/wb_registre/<%- user.id %>" id="wb-form-validate" method="post">

                          <div class="form-group">
                              
                              <label class="col-lg-4 control-label" for="normalInput">Banco</label>
                              <div class="col-lg-8">
                                  <select name="sel_banco_wb" id="sel_banco_wb" class="nostyle form-control" placeholder="Selecione um banco" >
                                    <option ></option>
                                    <% _.each(places,function(place) { %>
                                      <option value="<%- place.id %>" distance="<%- place.distance %>" dono_nome="<%- place.dono_nome %>" money_total="<%- place.money_total %>" ><%- place.name %> > <%- place.distance %>m</option>
                                    <% }) %>
                                  </select>
                              </div>

                          </div>

                          <div class="form-group" id="wb_name_dono">
                              
                              <label class="col-lg-4 control-label" for="normalInput">Dono</label>
                              <div class="col-lg-8">
                                  <h3>XXX</h3>
                              </div>

                          </div>


                          <div class="form-group" id="wb_money">
                              
                              <label class="col-lg-4 control-label" for="normalInput">Dinheiro do cofre</label>
                              <div class="col-lg-8">
                                  <h3>XXX</h3>
                              </div>

                          </div>

                          <div class="form-group">
                            <div class="col-lg-offset-4 col-lg-8">
                                <button type="submit" class="btn btn-info">Abrir</button>
                            </div>
                        </div>
                        <input type="hidden" name="_csrf" value="<%= _csrf %>">  
                      </form>
                </div>
            </div>
         </div>


        <!-- End .span4 -->

    </div><!-- End .row -->

    
</div>